.research-content { 
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    .submenu {
        
    }
    .research-text {  
        max-width: 55vw;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px) {
  .research-container {
    max-width: 100vw;
  }
}